<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InfoVisOfBrowerHistory</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="../../libs/startbootstrap-bare-1.0.3/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="../../libs/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../../libs/timeseries/resources/default.css" />
    <link rel="stylesheet" href="../../libs/timeseries/style.css" />

    <script src="../../libs/d3/3.5.5/d3.min.js"></script>
    <!--<script src="../../libs/d3v3/d3.v3.min.js"></script>-->

    <!-- jQuery Version 1.11.1 -->
    <script src="../../libs/jquery-2.1.4.min/jquery-2.1.4.min.js"></script>

    <script type="text/javascript" src="../../libs/lodash/lodash.min.js"></script>

    <script type="text/javascript" src="../../libs/moment-develop/min/moment.min.js"></script>

    <!--<script type="text/javascript" src="../../libs/moment/moment.min.js"></script>-->

    <script type="text/javascript" src="../../libs/highlight/highlight.min.js"></script>

    <script src="../../libs/timeseries/timeseries.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../libs/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <link href="../../libs/bootstrap-datetimepicker-4.17.37/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../libs/bootstrap-datetimepicker-4.17.37/build/js/bootstrap-datetimepicker.min.js"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Information Visualization of Browser History v1.0</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li>-->
                    <!--<a href="#">About</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Services</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Contact</a>-->
                <!--</li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-signal"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                            <ul class="nav nav-second-level">
                                <li>
                                    <a id="bubblechartlink" href="#">Bubble Chart of Visited Domains</a>
                                </li>
                                <li>
                                    <a id="graphofvisitedurlsandrefererslink" href="#">Graph Chart of Visited Urls
                                        and Referers</a>
                                </li>
                                <!--<li>-->
                                    <!--<a id="zoomablecirclesofcategorieslink" href="#">Zoomable Circle Chart of Website Categories</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a id="zoomablecirclesofproductivitylink" href="#">Zoomable Circle Chart of-->
                                        <!--Productivity</a>-->
                                <!--</li>-->
                                <li>
                                    <a id="chartofvisitfrequencylink" href="#">Chart of Visit Frequency</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                    </ul>
                    <!-- /.dropdown-charts -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div id="page-wrapper">
</div>

<script src='../../modules/charts/views/helper.js'></script>
<script src='../../modules/charts/views/bubble_chart.js'></script>
<script src='../../modules/charts/views/zoomable_circles_of_website_categories.js'></script>
<script src='../../modules/charts/views/zoomable_circles_of_website_productivity.js'></script>
<script src='../../modules/charts/views/graph_of_visited_urls_and_referers.js'></script>
<script src="../../modules/charts/views/chart_of_visit_frequency.js"></script>
<script src='../../modules/interface/views/mainpage.js'></script>
</body>

</html>
