<style>
    text {
        font: 10px sans-serif;
    }

</style>
<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
<h1 class="page-header">Bubble Chart of Most visited Domains</h1>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><strong>Legend</strong></div>
    <img src="../charts/fig/bola_verde.jpg" title="productive">Productive
    <img src="../charts/fig/bola_vermelha.jpg" title="unproductivea">Unproductive
    <img src="../charts/fig/bola_amarela.jpg" title="Neutral">Neutral
    <img src="../charts/fig/bola_azul.jpg" title="Uncategorized" name="Uncategorized" >Uncategorized       *<strong>Note:</strong> Bubble size reference the number of visits

</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><strong>Filter</strong></div>


    <!-- Table -->
    <table class="table">
        <tr>
            <td><strong>Start Date and time</strong> (If not specified, this defaults to one week ago.)</td>
            <td><strong>End Date and Time</strong></td>
            <td></td>
        </tr>
        <tr>
            <td>
            <div class='input-group date' id='datetimepicker1'>
                <input id="startTimeInput" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
            </td>
            <td>
            <div class='input-group date' id='datetimepicker2'>
                <input id="endTimeInput" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
            </td>
            <td><button id="filter" type="button" class="btn btn-primary btn-lg">Filter</button></td>
        </tr>
    </table>
</div>

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class='col-sm-6'>-->
            <!--<div class="form-group">-->
                <!--<div class='input-group date' id='datetimepicker1'>-->
                    <!--<input type='text' class="form-control" />-->
                    <!--<span class="input-group-addon">-->
                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<div class="dialog" style="display:none">
    <div class="title">Add Event</div>
    <form action="addevent.php" method="post">
        <select class="niceselect" name="type">
            <option value="a">Appointment</option>
            <option value="a">Block</option>
        </select>
        <input class="inputtypetext" name="start_dtm" type="datetime-local"/>
        <input class="inputtypetext" name="duration" type="time"/>
        <input class="inputtypetext" name="name" type="text" placeholder="Name"/>
        <input class="inputtypetext" name="location" type="text" placeholder="Location"/>
        <textarea name="description" placeholder="Description" cols="30" rows="10" wrap="soft"></textarea>
        <input class="inputtypesubmit" type="submit" value="Ok"/>
    </form>
</div>
    <div id="bubblechartcontent">
    </div>
<!--</div>-->
<!-- /.container-fluid -->





<style>
    *
    {
        box-sizing: border-box;
    }
    body {
        background: #fefefe;
        text-align: center;
        color: #444444;
        font-family:sans-serif;
    }

    nav {
        height: 64px;
        background: #e74c3c;
        padding: 0px 32px;
        border-bottom: 1px solid #C24032;
        text-align: left;
        box-shadow: 0px 0px 4px #C24032;
    }
    nav ul {
        margin: 0px;
        padding: 0px;
    }
    .button {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 0 8px;
        padding: 0px 32px;
        display: block;
        height: 100%;
        min-width:9px;
        line-height: 64px;
        border: 1px solid #C24032;
        border-width: 0px 1px;
        box-shadow: 0px 0px 4px #C24032;
        transition: box-shadow .2s linear;
    }
    nav ul li, .radio > .button {
        display: inline-block;
        vertical-align:top;
    }

    .add
    {
        transition: box-shadow .2s linear, margin .3s linear .5s;
    }
    .add.active
    {
        margin:0 98px;
        transition: box-shadow .2s linear, margin .3s linear;
    }
    .button:link
    {
        color: #eee;
        text-decoration: none;
    }
    .button:visited
    {
        color: #eee;
    }
    .button:hover
    {
        box-shadow:none;
    }
    .button:active,
    .button.active {
        color: #eee;
        border-color: #C24032;
        box-shadow: 0px 0px 4px #C24032 inset;
    }
    nav ul li a:active {
        color: #eee;
    }
    nav ul li a.active {
        color: #eee;
    }
    .dialog {
        position: relative;
        text-align: center;
        background: #4478a0;
        margin: 13px 0 4px 4px;
        display: inline-block;
        width: 256px;
        box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
    }
    .dialog:after,
    .dialog:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .dialog:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #5C9CCE;
        border-width: 15px;
        left: 50%;
        margin-left: -15px;
    }
    .dialog:before {
        border-color: rgba(170, 170, 170, 0);
        border-width: 16px;
        left: 50%;
        margin-left: -16px;
    }
    .dialog .title {
        color: #fff;
        font-weight: bold;
        text-align: center;
        border: 1px solid #5189B5;
        border-width: 0px 0px 1px 0px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4px;
        margin-top: 8px;
        padding: 8px 16px;
        background: #5C9CCE;
        box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
        font-size: 16px;
        line-height:2em;
    }
    .dialog .title:first-child {
        margin-top: -4px;
    }
    form
    {
        padding:16px;
        padding-top: 0;
    }
    select[name=type]
    {
        appearance:none;
        border-radius: 0;
    }
    textarea,.inputtypetext,input[type=datetime-local],input[type=time],.niceselect
    {
        color: #fff;
        border: 0;
        outline: 0;
        resize: none;
        margin: 0;
        margin-top: 1em;
        padding: .5em;
        width:100%;
        border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
        background:#5d92ba;
    }
    input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
        background-color: #4478a0;
    }
    .inputtypesubmit
    {
        border:none;
        background: #FAFEFF;
        padding: .5em 1em;
        margin-top: 1em;
        color:#4478a0;
    }
    input[type=submit]:active
    {
        background: #E1E5E5;
    }
    input:-moz-placeholder, textarea:-moz-placeholder {
        color: #FAFEFF;
    }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        color: #FAFEFF;
    }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color:#FAFEFF;
    }
</style>
<nav>
    <ul>
        <li>
            <a href="#" class="button add">+</a>
            <div class="dialog" style="display:none">
                <div class="title">Add Event</div>
                <form action="addevent.php" method="post">
                    <select class="niceselect" name="type">
                        <option value="a">Appointment</option>
                        <option value="a">Block</option>
                    </select>
                    <input class="inputtypetext" name="start_dtm" type="datetime-local"/>
                    <input class="inputtypetext" name="duration" type="time"/>
                    <input class="inputtypetext" name="name" type="text" placeholder="Name"/>
                    <input class="inputtypetext" name="location" type="text" placeholder="Location"/>
                    <textarea name="description" placeholder="Description" cols="30" rows="10" wrap="soft"></textarea>
                    <input class="inputtypesubmit" type="submit" value="Ok"/>
                </form>
            </div>
        </li>
        <li class="radio">
            <a href="#" class="button active">Day</a>

            <a href="#" class="button">Week</a>

            <a href="#" class="button">Month</a>
        </li>
    </ul>
    </div>
</nav>
<p>Click the '+'!</p>