<style>
    text {
        font: 10px sans-serif;
    }

</style>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <h1 class="page-header">Bubble Chart of Most visited Domains</h1>
                Legenda:
                <div  style="border:groove; width:400px"> 
                	<img src="../charts/fig/bola_verde.jpg" title="productive" t>Productive
                    <img src="../charts/fig/bola_vermelha.jpg" title="unproductivea">Unproductive
                    <img src="../charts/fig/bola_amarela.jpg" title="Neutral">Neutral
                    <img src="../charts/fig/bola_azul.jpg" title="Uncategorized" name="Uncategorized" >Uncategorized  <br>
                    *Note: Bubble size reference the number of visits
            	</div>
    <div id="bubblechartcontent">
    </div>
<!--</div>-->
<!-- /.container-fluid -->
